@if (screenWidth <= 768 && !collapsed) {
  <button class="mobile-menu-btn"
      (click)="toggleCollapse()">
    <i class="fas fa-bars"></i>
  </button>
}

@if (screenWidth <= 768 && collapsed) {
  <div class="sidebar-overlay" (click)="closeSidenav()"></div>
}

<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    @if (enterpriseInfo.value()?.imagenEmpresa) {
      <img
        [src]="enterpriseInfo.value()?.imagenEmpresa"
        [alt]="enterpriseInfo.value()?.nombre || 'Logo empresa'"
        class="logo-image"
        (click)="toggleCollapse()"
        (error)="onImageError($event)">
    } @else {
      <button class="logo" (click)="toggleCollapse()">
        {{ enterpriseInfo.value()?.nombre?.charAt(0) || 'A' }}
      </button>
    }

    @if (collapsed) {
      <div class="logo-text" @fadeInOut>
        {{ enterpriseInfo.value()?.nombre || 'Empresa' }}
      </div>
    }

    @if (collapsed) {
      <button class="btn-close" @rotate (click)="closeSidenav()">
        <i class="fas fa-times close-icon"></i>
      </button>
    }
  </div>

  <ul class="sidenav-nav">
    @for (data of navData; track $index) {
      <li class="sidenav-nav-item" *hasRole="data.allowedRoles">
        <a
          class="sidenav-nav-link"
          [routerLink]="[data.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>

          @if (collapsed) {
            <span class="sidenav-link-text" @fadeInOut>
              {{ data.label }}
            </span>
          }
        </a>
      </li>
    }
  </ul>
</div>
